.font-arabic {
  font-family: 'Cairo', sans-serif;

}

.btn-pink {
  background-color: #e60174;
  color: white;
  font-weight: 500;
}

.btn-pink:hover {
  background-color: #940143;
  color: white;
}

.btn-pink.active {
  background-color: #df07b0;
}

.text-pink {
  color: #ec4899;
}

.cursor-pointer {
  cursor: pointer;
}

.card-img-top {
  height: 200px;
  /* توحيد ارتفاع الصورة */
  object-fit: cover;
}

.custom-card {
  height: 100%;

  border: none !important;
  
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;


}

.custom-card:hover {

  
  transform: scale(1.05);
  /* تكبير الكرت عند التمرير */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* زيادة الظل عند التمرير */

}

.card-footer {
  background-color: transparent;
  border-top: none;
  background-color: #fff;
  

}

.tab-pink {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 500;
  border: 1px solid #f4e2ee;
  border-radius: 50px;
  padding: 0.5rem 1rem;

}

.tab-pink:hover {
  background-color: #dfc9d3;

}

.tab-pink.active {
  background-color: #e50f6f;
  color: white;
}

.tab-pink.active:hover {
  background-color: #d5085a;
}

#openingInfo ul li {
  font-size: 16px;
  color: #333;
}

#openingInfo h4 {
  color: #261717;
}

#openingInfo .text-success {
  font-weight: bold;
}

#openingInfo i {
  font-size: 18px;
}

.filter-item {
  padding: 8px 16px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f8f9fa;
  color: #555;
  transition: all 0.3s ease;
}

.filter-item:hover {
  background-color: #ffe9fb;
  color: #000;
  cursor: pointer;
}

.filter-item.active {
  background-color: #eb3bcb;
  color: #fff;
  border-color: #000;
}

.sub-filter-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.sub-filters {
  display: flex;
  justify-content: start;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.sub-filter-group {
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-btn {
  background-color: #f8f9fa;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 13px;
  color: #555;
  transition: all 0.3s ease;
}

.sub-btn:hover {
  background-color: #e0e0e0;
  color: #000;
}

.sub-btn.active {
  background-color: #e13ddb;
  color: white;
}





.gallery-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.gallery-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.gallery-card img {
  height: 300px;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.3s ease;

}

.gallery-card:hover img {
  transform: scale(1.05);
}

.gallery-card .card-img-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .sub-filters {
    justify-content: center;
  }
  .sub-filter-group {
    flex-direction: column;
    align-items: center;
  }
  .sub-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .gallery-card img {
    height: 200px;
    max-height: 200px;
  }

  .gallery-card {
    height: 100%;
  }

  .gallery-card .card-img-full {
    height: 200px;
  }
  .gallery-card .card-img-top {
    height: 200px;
  }

   .day-name {
    font-size: 14px;
  }

  .day-time {
    font-size: 13px;
  }

  .list-unstyled li {
    font-size: 14px;
  }

  #openingTitle {
    font-size: 20px; /* تصغير العنوان */
  }
  
  
}